.profile__add-button-image {
  background-image: url(/images/add_button.svg);
  background-repeat: no-repeat;
  width: 150px;
}

@media screen and (max-width: 768px) {
  .profile__add-button-image {
    background-image: url(/images/add_button_768.svg);
    background-repeat: no-repeat;
    /* width: 282px; */
  }
}
