.profile__info {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 16px 18px;
  max-width: 336px;
}

@media screen and (max-width: 768px) {
  .profile__info {
    margin: 18.25px 0 26px 0;
    justify-items: center;
    gap: 14px 10px;
  }
}
